.build-form-wrapper{
    display:flex;
    justify-content: center;
}

.build-container{
    width:100%;
}

#build-menu{
    align-items: center;
    display:flex;
    justify-content: space-between;
    position: relative;
    height:80px;
    margin:0;
    padding:0 10px;
    background:#e66760;
    color:#fff;
    /* box-shadow:0 -1px rgba(0,0,0,.5) inset; */
    font-size: 15px;
    width:100%;
}

.build-menu-li{
    float:left;
    list-style-type:none;
    position:relative;
}

.build-form-label{
    position:relative;
    display:block;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0 8px;
    padding:0 18px 0 12px;
    line-height:3em;
    transition:background 0.3s;
    cursor:pointer;
}

.build-form-label:after{
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgba(255,255,255,.5);
    border-bottom:0 solid rgba(255,255,255,.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
}

.build-submenu{
    max-height:0;
    margin-top: 18px;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    background:white;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,.3);
    transition:max-height 0.5s ease-out;
    position:absolute;
    min-width:100%;
    cursor:pointer;
    z-index: 1;
}

.build-logout-div{
    display:block;
    text-decoration:none;
    transition:background .3s;
    white-space:nowrap;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #434a54;
    cursor: pointer;
    display: block;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.25;
    list-style: none;
    outline: none;
    padding: 16px 24px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}

.build-logout-div:hover{
    background:#e6e9ee;
}

#check{display:none}
#check:checked ~ .build-submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
}

.form-stage{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.left-side{
    background-color: #edffcf;
    border-right: 2px solid #ffc7204f;
    border-bottom-left-radius: 5px;
    color: #000;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    height: auto;
    letter-spacing: .13px;
    margin: 0;
    margin-top: 0px;
    min-height: 228.66px;
    padding: 0;
    text-align: left;
    width: 250px;
}

.create-a{
    clear: both;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    height: 100%;
    letter-spacing: .13px;
    margin: 0;
    padding: 15px;
    text-align: left;
    width: 250px;
}

.left-input-col{
    color: #000;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 5px 0px 7px;
    padding: 0;
    text-align: left;
    width: 50%;
}

.right-input-col{
    color: #000;
    float: right;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 5px 0 7px;
    padding: 0;
    text-align: left;
    width: 50%;
}

.create-li{
    list-style: none;
    margin: 0 0 6px;
    padding: 0;
    position: relative;
    text-align: left;
}

.create-input-btn{
    background-clip: padding-box;
    background-color: initial;
    background-image: -webkit-linear-gradient(top, #fff, #e9e9e9);
    border-color: #eee #ccc #ccc #eee;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px 0;
    color: #464646;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 95%;
    letter-spacing: .13px;
    line-height: 130%;
    list-style: none;
    margin: 0 .7em 0 0;
    outline: none;
    padding: 5px;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.create-b{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    height: 100%;
    letter-spacing: .13px;
    margin: 25px;
    margin: ;
    padding: 0;
    text-align: left;
    width: 250px;
}

.field-label-div{
    background-color: transparent;
    clear: none;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    letter-spacing: .13px;
    margin: 0 0 7px;
    padding: 0;
    position: static;
    text-align: left;
}

.field-label-label{
    border-style: none;
    color: #333;
    cursor: default;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

#label-edit-field{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #333;
    cursor: text;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    height: 3.7em;
    list-style: none;
    margin: 0;
    max-width: 100%;
    min-width: 70%;
    padding: 10px;
    white-space: pre-wrap;
    width: 70%;
    word-wrap: break-word;
}

.field-type-select{
    background-color: transparent;
    clear: none;
    color: #000;
    display: block;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 7px;
    padding: 0px;
    position: static;
    text-align: left;
    transition: background-color 350ms ease-out;
    width: 48%;
}

.field-select-label{
    border-style: none;
    color: #333;
    cursor: default;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

#type-select{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #333;
    cursor: default;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 120%;
    list-style: none;
    margin: 0;
    padding: 3px;
    white-space: pre;
    width: 100%;
}

.field-edit-delete-btns{
    background-color: transparent;
    clear: none;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 7px;
    padding: 10px 0 0;
    position: static;
    text-align: center;
}

.field-edit-btn{
    background-clip: padding-box;
    background-color: initial;
    background-image: -webkit-linear-gradient(top, #fff, #e9e9e9);
    border-color: #dedede #bbb #bfbfbf #dedede;
    border-radius: 11px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #63a142;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 130%;
    list-style: none;
    margin: 0 .7em 0 0;
    outline: none;
    padding: 5px 10px 6px;
    text-align: center;
    text-decoration: none;
}

.field-delete-btn{
    background-clip: padding-box;
    background-color: initial;
    background-image: -webkit-linear-gradient(top, #fff, #e9e9e9);
    border-color: #dedede #bbb #bfbfbf #dedede;
    border-radius: 11px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #d12f19;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    letter-spacing: .13px;
    line-height: 130%;
    list-style: none;
    margin: 0 .7em 0 0;
    outline: none;
    padding: 5px 10px 6px;
    text-align: center;
    text-decoration: none;
}

.create-c{
    clear: left;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    letter-spacing: .13px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
    width: 340px;
}

.title-edit-field-div{
    background-color: transparent;
    clear: none;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 7px;
    padding: 0;
    position: static;
    text-align: left;
}

.title-edit-field-label{
    border-style: none;
    color: #333;
    cursor: default;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

#title-edit-field{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #333;
    cursor: text;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    min-width: 70%;
    padding: 3px;
    width: 70%;
}

.description-edit-field-div{
    background-color: transparent;
    clear: both;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 7px;
    padding: 0;
    position: static;
    text-align: left;
}

.description-edit-field-label{
    border-style: none;
    color: #333;
    cursor: default;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

#description-edit-field{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #333;
    cursor: text;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    height: 5em;
    list-style: none;
    margin: 0;
    min-width: 70%;
    padding: 3px;
    white-space: pre-wrap;
    width: 70%;
    word-wrap: break-word;
}

.form-main{
    color: #000;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 620px;
}

.form-info-div{
    clear: both;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    margin: 0 0 5px;
    padding: 10px 1% 1.1em;
    position: relative;
    text-align: left;
}

.form-info-title{
    clear: left;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 160%;
    font-weight: 400;
    letter-spacing: .13px;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

.form-info-description{
    color: #555;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    letter-spacing: .13px;
    line-height: 135%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.custom-text-div{
    background-color: transparent;
    border: 1px dotted transparent;
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-text-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-text-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    opacity: 1;
    padding: 2px 0;
}

.custom-textarea-div{
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-textarea-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-textarea-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    height: 10em;
    list-style: none;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    opacity: 1;
    padding: 2px 0;
    white-space: pre-wrap;
    width: 293px;
    word-wrap: break-word;
}

.custom-number-div{
    background-color: transparent;
    border: 1px dotted transparent;
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-number-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-number-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    opacity: 1;
    padding: 2px 0;
}

.custom-url-div{
    background-color: transparent;
    border: 1px dotted transparent;
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-url-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-url-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    opacity: 1;
    padding: 2px 0;
}

.custom-email-div{
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-email-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-email-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    opacity: 1;
    padding: 2px 0;
}

.custom-phone-div{
    background-color: transparent;
    border: 1px dotted transparent;
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-phone-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-phone-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    opacity: 1;
    padding: 2px 0;
}

.custom-date-div{
    background-color: transparent;
    border: 1px dotted transparent;
    clear: both;
    color: #000;
    cursor: pointer;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 0 0 1px;
    padding: 6px 1% 9px;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-date-label{
    border-style: none;
    color: #222;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 150%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 3px;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.custom-date-input{
    background-color: #fff;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    list-style: none;
    margin: 0;
    opacity: 1;
    padding: 2px 0;
}

.bottom-save-form-btn{
    background-clip: padding-box;
    background-color: initial;
    background-image: -webkit-linear-gradient(top, #fff, #e9e9e9);
    border-color: #dedede #bbb #bfbfbf #dedede;
    border-radius: 11px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #63a142;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: .13px;
    line-height: 130%;
    margin: 0 .7em 0 0;
    outline: none;
    padding: 5px 10px 6px;
    text-align: center;
    text-decoration: none;
}
