.build-form-wrapper{
    display:flex;
    justify-content: center;
}

.build-container{
    width:100%;
}

#build-menu{
    align-items: center;
    display:flex;
    justify-content: space-between;
    position: relative;
    height:80px;
    margin:0;
    padding:0 10px;
    background:#e66760;
    color:#fff;
    /* box-shadow:0 -1px rgba(0,0,0,.5) inset; */
    font-size: 15px;
    width:100%;
}

.build-menu-li{
    float:left;
    list-style-type:none;
    position:relative;
}

.build-form-label{
    position:relative;
    display:block;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0 8px;
    padding:0 18px 0 12px;
    line-height:3em;
    transition:background 0.3s;
    cursor:pointer;
}

.build-form-label:after{
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgba(255,255,255,.5);
    border-bottom:0 solid rgba(255,255,255,.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
}

.build-submenu{
    max-height:0;
    margin-top: 18px;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    background:white;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,.3);
    transition:max-height 0.5s ease-out;
    position:absolute;
    min-width:100%;
    cursor:pointer;
    z-index: 1;
}

.build-logout-div{
    display:block;
    text-decoration:none;
    transition:background .3s;
    white-space:nowrap;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #434a54;
    cursor: pointer;
    display: block;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.25;
    list-style: none;
    outline: none;
    padding: 16px 24px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}

.build-logout-div:hover{
    background:#e6e9ee;
}

#check{display:none}
#check:checked ~ .build-submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
}

.form-stage{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.left-side{
    background-color: #edffcf;
    /* border:4px solid rgba(255,255,255,.5); */
    border-right: 1px solid #ffc7207c;
    border-radius: 0px;
    /* box-shadow:0 -1px rgba(0,0,0,.1) inset; */
    /* box-shadow:2px 2px 2px 2px rgba(0, 0, 0, .2); */
    color: #000;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    height: auto;
    letter-spacing: .13px;
    margin: 0;
    margin-top: -15px;
    min-height: 228.66px;
    padding: 0;
    text-align: left;
    width: 370px;
}

.create-a{
    clear: both;
    color: #000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    height: 100%;
    letter-spacing: .13px;
    margin: 0;
    padding: 15px 12px 15px 19px;
    text-align: left;
    width: 338px;
}

.left-input-col{
    color: #000;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 5px 0 7px;
    padding: 0;
    text-align: left;
    width: 49%;
}

.right-input-col{
    color: #000;
    float: right;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 13px;
    letter-spacing: .13px;
    list-style: none;
    margin: 5px 0 7px;
    padding: 0;
    text-align: left;
    width: 49%;
}

.create-li{
    list-style: none;
    margin: 0 0 6px;
    padding: 0;
    position: relative;
    text-align: left;
}

.create-input-btn{
    background-clip: padding-box;
    background-color: initial;
    background-image: -webkit-linear-gradient(top, #fff, #e9e9e9);
    border-color: #eee #ccc #ccc #eee;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px 0;
    color: #464646;
    cursor: pointer;
    display: block;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 95%;
    letter-spacing: .13px;
    line-height: 130%;
    list-style: none;
    margin: 0 .7em 0 0;
    outline: none;
    padding: 5px;
    position: relative;
    text-align: left;
    text-decoration: none;
}
