.top-band{
    border-bottom: 1px solid #e6e9ee;
    box-sizing: border-box;
    color: #434a54;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    list-style: none;
}

.h1-div{
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 32px;
    width: 100%;
}

.share-title{
    align-items: center;
    box-sizing: border-box;
    color: #434a54;
    display: flex;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 28px;
    font-weight: 300;
    list-style: none;
}

.share-link-area{
    -webkit-font-smoothing: antialiased;
    background-color: #f6f7fb;
    box-sizing: border-box;
    color: #434a54;
    display: flex;
    flex-direction: column;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    list-style: none;
    margin: 0 auto;
    max-width: 1400px;
    padding: 16px 32px;
    width: 100%;
}

.share-a-link{
    align-items: center;
    box-sizing: border-box;
    color: #434a54;
    display: flex;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 22.5px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 16px;
    margin-top: 32px;
}

.share-link{
    box-sizing: border-box;
    color: #434a54;
    display: flex;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    list-style: none;
}

.main-link-div{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #434a54;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 24px;
}

.link-icon{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #434a54;
    display: inline-block;
    fill: currentcolor;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 40px;
    height: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 1em;
}

.url-share{
    border-style: none;
    box-sizing: border-box;
    color: #434a54;
    cursor: text;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: 300;
    list-style: none;
    margin: 0 64px;
    padding: 8px;
    width: 100%;
}

.share-url-copy{
    -webkit-font-smoothing: antialiased;
    align-items: center;
    background-color: #2685c6;
    border: 1px solid #2685c6;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro",游ゴシック,游ゴシック体,YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
